body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: black;
	color: white;
}

.game {
	display: grid;
	place-items: center;
	padding-top: 3rem;
}

h1 {
	font-size: 3rem;
	color: transparent;
	background: linear-gradient(90deg, red, orange, yellow);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 400%;
	animation: gradient 2s linear infinite alternate;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.5rem;
}

input {
	width: 50%;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1.3rem;
	border: 0.5px solid black;
	border-radius: 10px;
	padding: 5px;
}

.btns {
	margin-top: 2rem;
	width: 50%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

button {
	font-size: 1.2rem;
	width: 25%;
	padding: 7px 13px;
	margin: 1rem;
	/* background: linear-gradient(135deg, red, orange, yellow); */
	border-width: 0.5px;
	border-radius: 10px;
	box-shadow: 2px 2px 6px rgba(170, 170, 170, 0.363);
	cursor: pointer;
}

.restart {
	width: 10%;
	position: relative;
	left: 18%;
}
